.nav
  position: absolute
  left: 2rem
  left: 10.40625rem
  top: 49.4375rem
  a
    display: inline-block
    width: 0.9375rem
    height: 0.9375rem
    background-color: rgba(135, 135, 135, 0.3)
    border-radius: 50%
    &:hover
      background-color: #9DA3AD

.main
  height: 100vh
  background-image: url('/assets/crew/background-crew-desktop.jpg')
  background-size: cover

@media (max-width:376px)
  .main
    background-image: url('/assets/crew/background-crew-mobile.jpg')
  .nav
    position: relative
    display: flex
    justify-content: space-between
    inset: 0
    margin: 0 auto
    top: 24.625rem
    width: 5.5rem
    height: auto
    a
      display: inline-block
      width: 0.625rem
      height: 0.625rem
      margin: 0
      background-color: rgba(135, 135, 135, 0.3)
      border-radius: 50%
