.nav{
  position: absolute;
  top: 19.375rem;
  left: 52rem;
}
.h5{
  position: absolute;
  top: 13.25rem;
  left:10.40625rem;
  letter-spacing: 0.295rem;
}
.h5 span{
  color: grey;
  font-weight:bolder;
  margin-right:1rem;
}