.nav
  position: absolute
  top: 17.375rem
  left: 52rem
  a
    display: inline-block
    // margin: 0
    line-height: 3rem
    border-bottom: 0.2rem solid transparent
    border-top: 0.2rem solid transparent
    &:hover
      border-bottom: 0.2rem solid #9DA3AD
.main
  height: 100vh
  background-image: url('/assets/destination/background-destination-desktop.jpg')
  background-size: cover

@media (max-width:376px)
  .main
    background-image: url('/assets/destination/background-destination-mobile.jpg')
  .nav
    width: 14.84375rem
    position: relative
    inset: 0
    margin: 0 auto
    display: flex
    top: 20.9375rem
    justify-content: space-between
    align-items: center
    a
      font-size: 0.875rem
      letter-spacing: 0.1475rem
      display: inline-block
      line-height: 2rem
      border-bottom: 0.2rem solid transparent
      border-top: 0.2rem solid transparent
      margin: 0
      color:#D0D6F7
