.h5
  position: absolute
  top: 13.25rem
  left: 10.40625rem
  letter-spacing: 0.295rem
  span
    color: grey
    font-weight: bold
    margin-right: 1rem

@media ( min-width: 376px ) and ( max-width: 768px )
  .h5
    // width: 100%
    // text-align: center
    top: 8.5rem
    left: 2.40625rem
    letter-spacing: 0.21125rem
    font-size: 1.25rem
    margin: 0
    span
      color: grey
      margin-right: .5rem

@media (max-width: 375px)
  .h5
    width: 100%
    text-align: center
    top: 5.5rem
    left: 0
    letter-spacing: 2.7px
    font-size: 1rem
    margin: 0
    span
      color: grey
      margin-right: 1rem
