.nav
  position: absolute
  display: flex
  flex-direction: column
  left: 10.3125rem
  top: 23.9375rem
  a
    width: 5rem
    background: transparent
    border-radius: 50%
    border: 1px solid #fff
    text-align: center
    line-height: 5rem
    margin: 0 0 2rem 0
    font-size: 2rem

    &:hover
      color: #0B0D17
      background: #fff
