.nav
  position: absolute
  display: flex
  flex-direction: column
  left: 10.3125rem
  top: 23.9375rem
  a
    width: 5rem
    background: transparent
    border-radius: 50%
    border: 1px solid #4D4E56
    text-align: center
    line-height: 4.875rem
    font-family: "Bellefair"
    margin: 0 0 2rem 0
    letter-spacing: -1px
    font-size: 2rem
    &:hover
      border: 1px solid #fff

.main
  min-height: 100vh
  width: 100%
  background-image: url('/assets/technology/background-technology-desktop.jpg')
  background-size: cover

@media ( min-width: 376px ) and ( max-width: 768px )
  .main
    background-image: url('/assets/technology/background-technology-tablet.jpg')
  .nav
    position: absolute
    flex-direction: row
    left: 50%
    transform: translate(-50%)
    top: 36.625rem
    a
      width: 3.625rem
      background: transparent
      border-radius: 50%
      border: 1px solid #4D4E56
      text-align: center
      line-height: 3.5rem
      margin: 0 .6rem
      letter-spacing: -1px
      font-size: 1.75rem
      &:hover
        border: 1px solid #fff
@media (max-width:375px)
  .main
    background-image: url('/assets/technology/background-technology-mobile.jpg')
  .nav
    position: absolute
    flex-direction: row
    left: 50%
    transform: translate(-50%)
    top: 21.4375rem
    a
      width: 2.5rem
      background: transparent
      border-radius: 50%
      border: 1px solid #4D4E56
      text-align: center
      line-height: 2.375rem
      margin: 0 .5rem
      font-size: 1rem
      &:hover
        border: 1px solid #fff
