
.navlink.active{
  border-bottom: 0.2rem solid #fff ;
}
.linktech.active{
  background-color: #fff ;
  color: #0B0D17 ;

  border: 1px solid #fff
}
.linkcrew.active{
  background-color: #fff ;
}
.navLinkPlanets.active{
  border-bottom: 0.2rem solid #fff
}
@media (max-width:376px){
  .navlink.active{
    border: none ;
  }
  .navLinkPlanets.active{
    border-bottom: 0.2rem solid #fff;
    color: #fff;
  }
}