
.navlink.active{
  border-bottom: 0.2rem solid #fff !important;
}
.linktech.active{
  background-color: #fff !important;
  color: #0B0D17 !important;
  
  border: 1px solid #fff
}
.linkcrew.active{
  background-color: #fff !important;
}
.navLinkPlanets.active{
  border-bottom: 0.2rem solid #fff
}